.contact {
  position: absolute;
  top: 4870px;
  left: calc(50% - 385px);
  background: #fff;
  @include size(770px, 450px);

  @media (max-width: 991px) {
    top: 4985px;
  }

  &__wrapper{
    padding: 0 62px 80px;
  }
  
  &-title {
    margin-top: 60px;
    
    &__title {
      margin: 30px 0 49px;
      font-size: 44px;
      font-weight: bold;
      color: $black;
      text-transform: uppercase;
      font-family: $Gotham_Bold;
    }
  }

  &-block {
    font-family: $Gotham_Book;
    &__text {
      color: $black;
      font-size: 18px;
      margin: 0 0 35px 10px;

      &--margin {
        margin-bottom: 0;
      }
    }

    &__icon {
      @include size(18px);
    }

    &__button {
      @include size(140px, 50px);
      font-size: 14px;
      text-transform: uppercase;
      color: $black;
      background: none;
      border: solid 1px $black;
      align-self: flex-end;

      &:hover {
        background: $blue;
        border-color: $blue;
        color: #fff;
        font-size: 16px;
      }
    }

    &__input {
      @include size(310px, 35px);
      font-size: 18px;
      padding-bottom: 15px;
      border-bottom: 1px solid #2c405850;
      color: $black;
      &::placeholder {
        color: #2c405850;
      }
    }
  }
}