.contact {
  position: absolute;
  top: 4870px;
  left: calc(50% - 385px);
  background: #fff;
  @include size(770px, 450px);

  
  &-title {
    margin-top: 70px;
    
    &__title {
      margin: 35px 0 165px;
      font-size: 44px;
      font-weight: bold;
      color: #2c4058;
      text-transform: uppercase;
      font-family: $Gotham_Bold;
    }
  }
}