.footer {
  height: 524px;
  background: url(../images/BackgroundFooter.png);
  background-size: cover;

  &-block {
    margin-top: 250px;
    color: #fff;
    font-size: 14px;
    font-family: $Gotham_Book;
    width: 770px;
    padding: 0;

    &__text {
      display: inline-block;
      margin-right: 20px;
    }
  }
}

.navigation-block--footer {
  top: 200px;
  max-width: 770px;
  padding: 0;
}