.footer {
  height: 524px;
  background: url(../images/BackgroundFooter.png);

  &-block {
    margin: 250px 0 0 20px;
    color: #fff;
    font-size: 14px;
    font-family: $Gotham_Book;

    &__text {
      display: inline-block;
      margin-right: 20px;
    }
  }
}

.navigation-block--footer {
  top: 200px;
}