.news {
  height: 1035px;
  background: url(../images/NewsBG2.png) 100% 100% no-repeat;
  background-size: cover;

  @media (max-width: 991px) {
    height: 650px;
  }

  .wrapper {
    height: 1035px;
    background: url(../images/NewsBG.png) 100% 100% no-repeat;
    background-size: cover;
  }

  &-title {
    margin-top: 100px;

    @media (max-width: 991px) {
      margin-top: 40px;
    }

    .line {
      background: #fff;
    }
    
    &__title {
      margin: 35px 0 165px;
      font-size: 44px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      font-family: $Gotham_Bold;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }
    }
  }

  &-block {
    &__article {
      @include size(350px, 514px);
      background: none;

      @media (max-width: 1199px) {
        width: 295px;
      }

      @media (max-width: 991px) {
        width: 200px;
        height: 330px;
      }

      &-text {
        @include size(350px, 274px);
        background: #fff;
        margin: 0 auto;

        @media (max-width: 1199px) {
          width: 295px;
        }

        @media (max-width: 991px) {
          width: 200px;
        }
      }
    }

    &__img {
      position: relative;
      @include size(350px, 240px);
      background-size: cover;
      color: $black;
      margin: 0 auto;

      @media (max-width: 1199px) {
        width: 295px;
      }

      @media (max-width: 991px) {
        width: 200px;
        height: 137px;
        background-size: contain;
      }

      &--1 {
        background: url(../images/News1-img.png) 45% 50% no-repeat;
      }
      &--2 {
        background: url(../images/News2-img.png) 100% 100% no-repeat;
      }
      &--3 {
        background: url(../images/News3-img.png) 100% 25% no-repeat;
        background-size: cover;
      }
    }

    &__icon {
      position: absolute;
      @include size(80px);
      top: calc(50% - 40px);
      left: calc(50% - 40px);
      display: none;
    }

    &__subtitle {
      padding: 25px 53px 15px 21px;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.55;
      font-family: $Gotham_Bold;

      @media (max-width: 991px) {
        font-size: 16px;
        text-align: center;
        padding: 20px 10px 15px;
      }
    }

    &__text {
      font-size: 17px;
      line-height: 30px;
      color: #4b5562;
      margin: 0 20px 0 20px;
      font-family: 'OpenSans', sans-serif;
      overflow: hidden;

      @media (max-width: 1199px) {
        height: 60px;
      }

      @media (max-width: 991px) {
        height: 30px;
        font-size: 13px;
        line-height: normal;
      }
    }

    &__author {
      position: absolute;
      bottom: 20px;
      margin-left: 20px;
      height: 70px;
      font-family: $Gotham_Book;

      @media (max-width: 991px) {
        bottom: 0;
      }

      &-img {
        @include size(50px);
        margin-right: 20px;
        background-color: #000;
        border-radius: 50%;

        @media (max-width: 991px) {
          @include size(40px);
          margin-right: 15px;
          margin-left: -5px;
        }

        &--1 {
        background: url(../images/Article1.png) 100% 100% no-repeat;
        background-size: cover;
        }
        &--2 {
          background: url(../images/Article2.png) 100% 100% no-repeat;
          background-size: cover;
          }
        &--3 {
        background: url(../images/Article3.png) 100% 100% no-repeat;
        background-size: cover;
        }
      }
      &-name {
        width: 150px;
        font-size: 18px;
        color: $black;

        @media (max-width: 991px) {
          font-size: 14px;
        }
      }

      &-date {
        font-size: 14px;
        color: $blue;
        margin-top: 8px;

        @media (max-width: 991px) {
          font-size: 12px;
        }
      }
    }
  }
}

.slider {
  position: relative;

  & .slick-dots {
    position: absolute;
    top: 570px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    left: calc(50% - 100px);

    @media (max-width: 991px) {
      top: 380px;
    }

    & li {
      list-style: none;

      & button:before {
        font-size: 14px;
        content: '';
        @include size(9px);
        background: none;
        border-radius: 50%;
        border: 1px solid white;
        opacity: 1;

        @media (max-width: 991px) {
          @include size(7px);
        }
      }
      
      &.slick-active button:before {
        background:white;
        opacity: 1;
      }
    }
  }
}

.slick-next {
  right: -75px;

  &:before {
    content: '\203A';
    font-size: 14px;
  }

  &.slick-arrow {
    @include size(40px);
    border: 1px solid #ffffff95;
    border-radius: 50%;
  }
}

.slick-prev {
  left: -75px;
  
  &:before {
    content: '\2039';
    font-size: 14px;
  }

  &.slick-arrow {
    @include size(40px);
    border: 1px solid #ffffff95;
    border-radius: 50%;
  }
}



