.news {
  height: 1035px;
  background: url(/images/NewsBG2.png) 100% 100% no-repeat;
  background-size: cover;

  .wrapper {
    height: 1035px;
    background: url(/images/NewsBG.png) 100% 100% no-repeat;
    background-size: cover;
  }
}