.projects {
  height: 1000px;
  position: relative;

  &-title {
    margin-top: 100px;
    
    &__title {
      margin: 35px 0 165px;
      font-size: 44px;
      font-weight: bold;
      color: #2c4058;
      text-transform: uppercase;
      font-family: $Gotham_Bold;
    }
  }

  &-block {
    &__img {
      @include size (275px, 214px);
      &--big {
        @include size (560px, 438px);
        background: url(../images/Gallery1big.png) 100% 100% no-repeat;
        background-size: cover;
        position: relative;
      }
      &--small1 {
        background: url(../images/Gallery2.png) 100% 100% no-repeat;
        background-size: cover;
        margin-bottom: 10px;
      }
      &--small2 {
        background: url(../images/Gallery3.png) 100% 100% no-repeat;
        background-size: cover;
      }
      &--small3 {
        background: url(../images/Gallery4.png) 100% 100% no-repeat;
        background-size: cover;
        margin-bottom: 10px;
      }
      &--small4 {
        background: url(../images/Gallery5.png) 100% 100% no-repeat;
        background-size: cover;
      }
    }
    &-wrapper {
      padding-right: 0;
    }
  }

  &__button {
    @include size (190px, 50px);
    font-size: 14px;
    color: #2c4058;
    background-color: #fff;
    border: solid 1px #2c4058;
    text-transform: uppercase;
    margin-top: 60px;
    font-family: $Gotham_Book;
  }

  &-wrapper {
    width: 100%;
  }

  &__logo {
    position: absolute;
    @include size(80px);
    top: calc(50% - 40px);
    left: calc(50% - 40px);
  }
}